// sizes
$theme-opacity: '40';
$app-max-width: 1980px;
$theme-transition: 0.2s;

// colors
$theme-white: #f2f2f2;
$theme-red: #f45757;
$theme-green: #8efe6f;
$theme-yellow: #ffea8a;
$theme-cyan: #93faa3;
$theme-blue: #759af7;
$theme-orange: #f7a075;

// black
$theme-black: #0d0d0d;
$theme-black-1: #101010;
$theme-black-2: #1a1a1a;
$theme-black-3: #202020;

// gray
$theme-gray: #252525;
$theme-gray-1: #2a2a2a;
$theme-gray-2: #303030;
$theme-gray-3: #404040;
$theme-gray-4: #505050;
$theme-gray-5: #606060;
$theme-gray-6: #707070;
$theme-gray-7: #808080;
$theme-gray-8: #909090;
$theme-gray-9: #a0a0a0;

// default theme
// interface
$theme-bg: $theme-gray-2;
$theme-fg: $theme-white;

// hover
$theme-hover: $theme-gray-2;

// scrollbar
$theme-scrollbar: transparent;
$theme-scrollbar-bar: $theme-gray-7;

// header
$theme-header: $theme-black-3;
$theme-header-shadow: $theme-black-3;

// group
$theme-group-hover: $theme-hover;
$theme-group-hover-fg: $theme-cyan;

$theme-group-active: $theme-gray-3;
$theme-group-active-fg: $theme-yellow;

// items
$theme-items: $theme-black-3;
$theme-items-shadow: $theme-black-3;

// list
// item
$theme-item-content-fg: $theme-black;

// inputs
$theme-button: $theme-blue;

// input type
$theme-input-type-list: $theme-gray-2;

// inputs responsive
$theme-input-responsive-outline: $theme-cyan;
$theme-button-responsive-hover: $theme-hover;

// types
$theme-types: (
  task: (
    task: $theme-white,
    // status
    done: $theme-green,
    failed: $theme-red,
  ),
  note: (
    note: $theme-yellow,
  ),
  goal: (
    goal: $theme-cyan,
  ),
  routine: (
    routine: $theme-orange,
  ),
);
