// colors
$theme-white: #cfcfcf;
$theme-red: #f45757;
$theme-green: #60e082;
$theme-yellow: #f8de9f;
$theme-cyan: #93f9e9;
$theme-pink: #ea41ea;
$theme-blue: #759af7;

// black
$theme-black: #0d0d0d;
$theme-black-1: #101010;

// gray
$theme-gray: #252525;

// default theme
$theme-background: $theme-gray;
$theme-foreground: $theme-white;

// interface
$theme-input: $theme-cyan;
$theme-btn: $theme-white;

// types
$theme-task: $theme-white;
$theme-failed: $theme-red;
$theme-done: $theme-green;

$theme-note: $theme-yellow;

// sizes
$theme-opacity: '20';

$app-max-width: 1980px;
