@each $type, $value in $theme-types {
  .type__#{$type} {
    color: map-get($value, #{$type});
    background-color: unquote(map-get($value, #{$type}) + $theme-opacity);

    @each $status, $color in $value {
      @if $type != $status {
        &.status--#{$status} {
          color: $color;
          background-color: unquote($color + $theme-opacity);
        }
      }
    }
  }

  // button
  button:hover.type__#{$type} {
    color: $theme-item-content-fg;
    background-color: map-get($value, #{$type});

    @each $status, $color in $value {
      @if $type != $status {
        &.status--#{$status} {
          background-color: $color;
        }
      }
    }
  }
}
