// inputs
.input-responsive,
.input-default {
  text-transform: capitalize;
  white-space: nowrap;
  font-size: inherit;
  overflow: auto;
  color: inherit;
  width: 100%;

  min-width: 8rem;
}

.input-responsive {
  outline: 1px solid $theme-input-responsive-outline;
  outline-offset: 0.9rem;
  overflow: hidden;
  min-width: 0;

  transition: all $theme-transition linear;
  visibility: hidden;
  opacity: 0;

  &.input-show {
    margin: 1rem;
    min-width: 8rem;
    opacity: 1;
    visibility: visible;
  }
}

.input-default {
  padding: 1rem;
  max-height: 10rem;
}

// input type
.input-type {
  position: relative;
  color: $theme-button;
  text-transform: capitalize;
  white-space: nowrap;
  font-size: inherit;
  height: 100%;

  display: flex;
  justify-content: flex-start;

  @extend .no-select;

  #item-type {
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    min-width: 8rem;
    z-index: 1;
  }

  #type-list {
    background-color: $theme-input-type-list;
    position: absolute;
    bottom: 150%;
    padding: 1rem;
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    opacity: 0;
    visibility: hidden;
    transition: all $theme-transition linear;

    &.list__show {
      opacity: 1;
      visibility: visible;
      bottom: 110%;
    }
  }

  .list__item {
    cursor: pointer;
    padding: 0.6rem 2rem;
    text-align: center;
    width: 100%;
    border-radius: 1rem;
  }
}

// buttons
.button-responsive,
.button-default {
  cursor: pointer;
  padding: 1rem 2rem;
  transition: all $theme-transition linear;
}

.button-responsive {
  color: $theme-button;

  &:hover {
    background-color: $theme-button-responsive-hover;
  }

  &.button-active span {
    display: inline-block;
    transform: rotate(45deg);
  }
}

.button-default {
  height: 100%;
}
