// inputs
.input-responsive,
.input-default {
  text-transform: capitalize;
  white-space: nowrap;
  font-size: inherit;
  overflow: hidden;
  color: inherit;
  width: 100%;

  min-width: 8rem;
}

.input-responsive {
  outline: 1px solid $theme-input-responsive-outline;
  outline-offset: 0.9rem;
  overflow: hidden;
  min-width: 0;

  transition: all $theme-transition linear;
  visibility: hidden;
  opacity: 0;

  &.input-show {
    margin: 1rem;
    min-width: 8rem;
    opacity: 1;
    visibility: visible;
  }
}

.input-default {
  background-color: $theme-input-default;
  padding: 1rem;
}

// buttons
.button-responsive,
.button-default {
  cursor: pointer;
  padding: 1rem 2rem;
  transition: all $theme-transition linear;

  color: $theme-button;
}

.button-responsive:hover {
  background-color: $theme-button-responsive-hover;
}

.button-responsive span {
  display: inline-block;
}

.button-responsive.btn-close span {
  transform: rotate(45deg);
}

.button-default {
  background-color: $theme-button-default;

  &:hover {
    background-color: $theme-button-default-hover;
  }
}
