.interactive-input {
  cursor: pointer;
  display: inline-block;

  text-transform: capitalize;
  white-space: nowrap;
  padding: 1rem 2rem;
  outline: 1px solid $theme-cyan;
  outline-offset: -0.1rem;
  background-color: unset;
  color: $theme-white;
}
