header.header {
  background-color: $theme-header;
  box-shadow: 0 0 1rem $theme-header;

  // groups
  .header__groups {
    max-width: $app-max-width;
    margin-inline: auto;
    padding: 0 2rem;

    text-transform: capitalize;
    white-space: nowrap;

    display: flex;
    align-items: center;
    gap: 1rem;
  }

  // list
  .groups__list {
    display: flex;
    align-items: center;
  }

  // group
  .list__group {
    cursor: pointer;
    padding: 1rem 2rem;
    transition: background-color 0.2s linear;
    @extend .no-select;

    &:hover {
      color: $theme-hover;
      background-color: $theme-hover-bg;
    }
  }

  // options
  .groups__options {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  // new
  .options__new {
    display: flex;
    align-items: center;
  }
}

//   // groups
//   nav.nav {
//     display: flex;
//     align-items: center;
//     background-color: $theme-gray;
//     box-shadow: 0 0 1rem $theme-gray;
//     padding: 0 1rem;

//     .nav__groups {
//       display: flex;
//       align-items: center;
//     }

//     .nav__group,
//     .nav__option {
//       @extend .no-select;

//       cursor: pointer;
//       text-transform: capitalize;
//       white-space: nowrap;
//       padding: 1rem 2rem;
//       transition: background-color 0.2s linear;

//       &:hover {
//         color: $theme-secondary;
//         background-color: $theme-hover;
//       }
//     }

//     #active-group,
//     #active-group:hover {
//       pointer-events: none;
//       color: $theme-tertiary;
//       background-color: $theme-enabled;
//     }

//     .nav__option {
//       position: relative;
//       color: $theme-tertiary;
//     }

//     .close-btn {
//       background-color: $theme-cyan;

//       &:hover {
//         background-color: $theme-cyan;
//       }

//       span {
//         display: inline-block;
//         transform: rotate(45deg);
//         color: $theme-red;
//       }
//     }

//     .nav__option:hover {
//       color: $theme-tertiary;
//     }
//   }
